/****************************/
/*          Fonts           */
/****************************/
.fs-9{
  font-size: 9rem;
}

.fs-8{
  font-size: 8rem;
}

.fs-7{
  font-size: 7rem;
}

.fs-6{
  font-size: 6rem;
}
.fs-5{
  font-size: 5rem;
}

.fs-4{
  font-size: 4rem;
}

.fs-3{
  font-size: 3rem;
}

.fs-2{
  font-size: 2rem;
}

.fs-1{
  font-size: 1rem;
}

.b-round{
	border-radius: 0.125rem;
}
.b-round-1{
  border-radius: 1rem;
}

.b-round-2{
  border-radius: 2rem;
}

.over-flow{
  overflow: auto;
}

a.color-3{
  color: #222222 !important;
}

.view {
  background: url('https://cdn.pixabay.com/photo/2021/02/19/08/59/simmental-cattle-6029601_960_720.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 601px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}

html,body,header,.view {
  height: 109vh;
}

@media (max-width: 600px) {  
  html,body,header,.view {
    height: 100vh;
  }
}

.navbar{
  z-index: 99999999;
}

.list1 > li{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.top-nav-collapse{
  background: #ffffffee !important;
}

.sel{
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-radius: 0px !important;
}